{% load static %}
<!DOCTYPE html>
<html>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height: 50%;
        }
    </style>
    <head>
        <img src="{% static 'images/logo.jpg' %}" class="img-fluidrounded-start" alt="Logo Image">
        <h1>Submit Absence</h1>
    </head>

    <form action="#" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <!-- <label for="First_Name">First Name: </label>
        <input id="First_Name" type="text" name="First_Name" value="{{current_name}}"> -->

        <!-- fname = forms.CharField(label = "First Name", max_length = 200)
        lname = forms.CharField(label = "Last Name", max_length = 200)
        stud_id = forms.IntegerField(required = True, label = "Student ID")
        date = forms.DateField(label = "Date", initial = "2023-01-01", widget = forms.SelectDateWidget(years = YEARS))
        # attend = forms.ChoiceField(label = "Please Mark Your Attendance", choices = ATTENDANCE_CHOICES)
        reason = forms.CharField(label="Reason for absence:", max_length = 1000) -->
        <button type="submit", name="save">Submit Attendance</button>
    </form>
</html>