{% if profile %}

    {% if all_evaluations %}

        {% for supervising in profile.supervise.all %}

            {% for studentProfile in all_profiles %}

                {% if studentProfile.user_id == supervising.user_id %}

                    {% for eval in all_evaluations %}
        
                        {% if studentProfile.student_ID == eval.stud_id %}
                            <li><a href="/firstEvaluation/{{ eval.id }}">student id: {{ eval.stud_id }}, test id: {{ eval.id }}</a></li>
                        {% endif %}
        
                    {% endfor %}

                {% endif %}

            {% endfor %}
        
        {% endfor %}

    {% endif %}

{% else %}

    <h3>There are no evaluations for you to view.</h3>

{% endif %}

<a href="{% url 'homePage' %}">Return to home page.</a> <br/>