{% load static %}
{{ eval }}
<!DOCTYPE html>
<html>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 25%;
            height: 25%;
        }

        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>

    <head>
        <img src="{% static 'images/logo.jpg' %}" class="img-fluidrounded-start" alt="Logo Image">
        <h1> First Evaluation</h1>
        <!-- <a href="/Evaluation.pdf" target="_blank">View Evaluation Form</a> -->
        <iframe src="/Evaluation.pdf"></iframe>
    </head>

    <form action="#" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit", name="save">Submit Evaluation</button>
    </form>
</html>