{% load static %}
{{ eval }}
<!DOCTYPE html>
<html>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 25%;
            height: 25%;
        }

        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>

    <head>
        <img src="{% static 'images/logo.jpg' %}" class="img-fluidrounded-start" alt="Logo Image">
        <h1> First Evaluation</h1>
        <a href="{% static 'documents/Evaluation.pdf' %}" target="_blank" type="application/pdf">View Evaluation Form</a>
        <!-- <embed src="{% static 'documents/Evaluation.pdf' %}" height="500" width="1000" type="application/pdf"/> -->
    </head>

    <form action="#" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit", name="save">Submit Evaluation</button>
    </form>
</html>