<!DOCTYPE html>
<html>
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
</style>
<table style="width:100%">
    <tr>
        <th>Item</th>
        <th>Exceeds Expectations (3)</th>
        <th>Meets Expectations (2)</th>
        <th>Emerging (1)</th>
        <th>Does Not Meet Expectations (0)</th>
    </tr>
    <tr>
        <td>A.</td>
    </tr>
    <tr>
        <td>B.</td>
    </tr>
    <tr>
        <td>C.</td>
    </tr>
    <tr>
        <td>D.</td>
    </tr>
    <tr>
        <td>E.</td>
    </tr>
    <tr>
        <td>F.</td>
    </tr>
    <tr>
        <td>G.</td>
    </tr>
    <tr>
        <td>H.</td>
    </tr>
    <tr>
        <td>I.</td>
    </tr>
    <tr>
        <td>J.</td>
    </tr>
    <tr>
        <td>K.</td>
    </tr>
    <tr>
        <td>L.</td>
    </tr>
    <tr>
        <td>M.</td>
    </tr>
    <tr>
        <td>A.</td>
    </tr>
    <tr>
        <td>B.</td>
    </tr>
    <tr>
        <td>C.</td>
    </tr>
    <tr>
        <td>D.</td>
    </tr>
    <tr>
        <td>E.</td>
    </tr>
    <tr>
        <td>F.</td>
    </tr>
    <tr>
        <td>G.</td>
    </tr>
    <tr>
        <td>H.</td>
    </tr>
</table>
</html>